<div class="container">
  <div style="margin-top:55px; padding-top:55px; margin-bottom:70px;" class="container-fluid text-sm-center p-5 bg-info text-white " id="jumbotron"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2">Alpha blog</h1>
    <hr class="my-4">
    <p class="lead">A One-day Conference About All Things JavaScript!</p>
    <a class="btn btn-success btn-lg" href="#" role="buttom">Sign up!</a>
  </div>  
</div>