<footer class="footer bg-dark py-3">
    <div class="container text-center ">
        <span class="text-white">
        Copyright &copy; <%= link_to "Mashrur Hossain", "https://mashrurhossain.com", class: "text-white" %>
        </span>
    </div>
</footer>